/* .form-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.form-container label {
  padding: 0.8rem 1rem 0;
  color: #9ca3af;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -3rem;
}

input[type="text"],
input[type="integer"],
input[type="url"],
input[type="number"],
input[type="username"],
select,
input[type="date"] {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #acacac;
  width: 65%;
} */

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-container > h2 {
  color: green;
  margin-top: 20px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container .btn-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}
