html,
body {
  position: relative;
  height: 100%;
}

.homepage-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.details-container-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
