:root {
  --color-primary: #9ca3af;
  --color-gray: #c2c3c6;
  --color-secondary: #81dc26;
  --color-white: #fff;
  --color-black: #000;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

select {
  margin: 1rem 0;
  padding: 2%;
}
